.body {margin-right: 10px;
        margin-left: 10px;}
/*new - 29th Jan, 2021 Friday*/
@media(min-width:768px) {
      .topbar {
        display:flex;
        justify-content: center;
        align-items: center;
        /*grid-template-columns: 1fr 1fr 1fr;*/
      }
      .top1 {
        flex:1;
      
      }
      .top2 {
        flex:3;
      }
      .top3 {
        flex:1;
      }
      .greeting .greeting-name {
        font-size: 3rem;
      }
}
.topbar {
  justify-content: center;
  align-items: center;
   
}

.topbar div {
  padding: 3px;
}
@media(max-width:768px) {
.top1 {
  display: none;
}
.top3 {
display: none;
}
}

.top1 .logo img {
  width: 140px;
}

.top1 .logo {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

.top3 .user-image img {
  height: 140px;
  border-radius: 50%;
}

.topbar .top3 .user-image  {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*end of new*/

.greeting {
  text-align: center;
  padding: 0px;
  display: inline;
  }
  
  .greeting .greeting-name {
  /*font-size: 3rem;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right,white,rgba(255, 0, 102, 1),chartreuse,rgba(255, 0, 102, 1),white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 0px;
  }

@media(min-width:768px){
  .phone-menu {
    display: none;
    }
  .phone-user-image-title {
    display: none;
  }
}
@media(max-width:768px){
.phone-menu {
    display: block;
    color: rgba(255, 0, 102, 1);
    font-size: 24px;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.phone-user-image-title {
  display: block;
}
}

.phone-menu:hover .phone-nav-label {
  color: chartreuse;
  font-size: bold;
}

/*phone nav bar styles*/
.phone-nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.phone-nav-bar .phone-menu {
  flex: 2;
  padding: 5vmin;
}

.phone-nav-bar .phone-user-image-title {
  flex: 3;
  box-sizing: border-box;
  text-align: right;
  align-items: center;
  vertical-align: middle;
  padding: 5vmin;
}

.icon-and-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.icon-and-name .user-title {
  padding-right: 2vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  color: rgba(255, 0, 102, 1);
}

.phone-menu-nav {
  position: relative;
  display: none;
}
.phone-menu:hover .phone-menu-nav {
  display: block;
  position: absolute;
  height: auto; 
  box-sizing: border-box;
  background-color:chartreuse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.phone-menu-nav .phone-menu-nav-items .phone-nav-item {
  border-bottom: 1px solid rgba(255, 0, 102, 1);
  text-align: center;
  color: black;
}

.phone-menu-nav .phone-menu-nav-items .phone-nav-item:last-child {
  border-bottom: none;
  color: purple;
}

.phone-menu-nav .phone-menu-nav-items a {
  text-decoration: none;
}

.phone-menu-nav .phone-menu-nav-items .phone-nav-item a .phone-menu-item:hover {
  color: chartreuse;
  background-color: black;
  font-weight: bold;
}

.phone-menu-nav .phone-menu-nav-items .phone-nav-item a .phone-menu-item {
  padding: 3px;
}

/*prof pic and show area */
.phone-user-image-title img{
  width: 40px;
  border-radius: 50%;
}

.icon-and-name a {
  text-decoration: none;
}

.icon-and-name:hover a .user-title{
  font-size: bold;
  color: chartreuse;
}

@media(min-width:768px) {
  .navbar {
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media(max-width:768px) {
  .navbar {
    display :none;
  }
}

.navbar a {
margin: 10px;
padding-bottom: 10px;
border-bottom: 3px solid chartreuse;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: chartreuse;
font-weight: bold;
}

a:hover {
  text-decoration:none;
}

.navbar div:hover{
  color:rgba(255, 0, 102, 1);
  font-size: bolder;
  text-decoration-line: none;
}

.pagetop {
  background-color: black;
}
@media(min-width:768px) {
  .sehemu2 {
    display: flex;
    flex-wrap: wrap;
  }
}
.sehemu2 .a {
  flex: 3;
  order: 1;
  border: 1px solid;
  border-color: chartreuse;
  margin-right: 1%;
  height: auto;
  background-image: url('./Superworkmates Logo.png');
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  line-height: 3.0em;
  
}
.sehemu2 .b {
  flex: 1;
  order: 2;
  border: 1px solid;
  border-color: chartreuse;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width:768px) {
  .b-image {
  display: none;
  }
}
.b-image img {
  width: 100%;
}

@media(max-width:768px) {
  .a {
  display: none;
  }
}
.a {
  color: chartreuse;
}

.bb {
  padding: 10px;
}

/*Log In Form*/
.bb .thelogin form .label {
  display: block;
  

}


.b .b-image img {
  padding: 0px;
}

@media(min-width:768px){
  .part3 {
    display: flex;
    justify-content: space-between;
  }
}

.p3a {
flex: 1; 

padding-right: 10px;
animation-name: rangi1; 
animation-duration: 5s;
}

.p3b {
  flex: 1;
  
  padding-right: 10px;
  animation-name: rangi2; 
  animation-duration: 5s;
}

.part3 h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.part3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p4aa img {
  width: 100%;
}

.p4ba img {
  width: 100%;
}

.p4ca img {
  width: 100%;
}

.p4 h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p4 {
  display: flex;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

.p4 div {
  border: solid chartreuse 1px;
  padding: 3px;
}

.p4 div {
  flex: 1;
}

.p4head h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fmission {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mtitle, .f2 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*new - 29th Jan 2021, Friday*/
@media(max-width:768px) {
.f2 div {
text-align: center;
}
}

@media(min-width:768px){
  .f2 {
    display: flex;
    justify-content: space-between;
  }
  .f2p1 {
    flex:1;
    text-align: right;
  }
  
  .f2p2 {
    flex:2;
    text-align: center;
  }
  
  .f2p3 {
    flex:1;
    text-align: left;
  }
 
}
@media(max-width:768px){
  .line {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
}
@media(min-width:768px){
  .f3 img {
    display: none;
  }
}

.f3 img {
  width: 80%;
}

.f2p2 {
  color: purple;
}

.f2 {
  margin-top: 5vmin;
}
/*end of new - 29th Jan 2021, Friday*/



.f3 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: purple;
}

.footer {background-color: chartreuse;
padding: 30px;}

.fmission {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px
}

hr {
  border-color: rgba(255, 0, 102, 1);
}

@keyframes rangi1 {
  0% {background-color: white;}
  50% {background-color: pink;}
  100% {background-color: white;}
}

@keyframes rangi2 {
  0% {background-color: white;}
  50% {background-color: pink;}
  100% {background-color: white;}
}

.errortab .loginerror {
  background-color:chartreuse;
  color: rgba(255, 0, 102, 1);
  padding: 5px;;
}
.theform {
  background-color: cornsilk;
}

.signupform label {
  display: block;
  padding: 5px;
}
/*****************************signup styles.css*********************/
/*signup page styles*/

.signupform{
  background-color: pink;
  align-self: center;
}




.errortab {
  background-color: chartreuse;

}
.sqlsignuperror {
  color: blue;
  padding: 5px;
}
.signuperror {
  color: rgba(255, 0, 102, 1);
  padding: 5px;
}

.signupsuccess {
  color: chartreuse;
  padding: 5px;
}

.button {
  background-color: blueviolet;
  color: white;
  width: 240px;
  height: 30px;
  border-radius: 30px;
  margin: 10px;
}
.profileimage img {
  width: 100%;
}
.hide{
  display: none;
}
/*style for most of the buttons*/
.btn-super{
  height: 36px;
  width: 240px;
  border-radius: 4px;
  background-color:  chartreuse;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 0, 102, 1);
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.login-success{
  font-size: 20px;
  font-style: italic;
  border-radius: 5px;
  height: 20vh;
  color: #fff;
  display: none;
}
.btn-login{
  background-color:  chartreuse;
  text-align: center;
  border-radius: 4px;
  border: none;
  width: 30%;
  height: 45px;
}

  @media screen and (max-width: 500px){
    .col__xsm__6{
    width: 50%;
  }

  }
  .bg-super{
    background-color:  chartreuse;
  }
  .bg-super-1{
    background-color:  rgba(127,255,0,0.1);
  }
  .bg-super-2{
    background-color:  rgba(127,255,0,0.2);
  }
  .bg-super-3{
    background-color:  rgba(127,255,0,0.3);
  }
  .bg-super-4{
    background-color:  rgba(127,255,0,0.4);
  }
  .bg-super-5{
    background-color:  rgba(127,255,0,0.5);
  }
  .bg-super-6{
    background-color:  rgba(127,255,0,0.6);
  }
  .bg-super-7{
    background-color:  rgba(127,255,0,0.7);
  }
  .bg-super-8{
    background-color:  rgba(127,255,0,0.8);
  }
  .bg-super-9{
    background-color:  rgba(127,255,0,0.9);
  }

.product-description{
  max-height: 10rem;
  overflow: scroll;
}
.welcome-msg-equipments{
  font-size: 30px;
  letter-spacing: 2px;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-post-equipment{
  background-color: chartreuse;
}
div.post-equipment-response{
  display: none;
  background-color:rgb(79,225,79);
  border-radius: 5px;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  color: white;
  min-height: 3rem;
}
ul.equipments-search-results{
  display: none;
  position: absolute;
  list-style: none;
  width: 80%;
  z-index: 100;
  background: #5bfe23;
}
ul.equipments-search-results li{
  padding: 5px 12px;
  transition: all 0.5s ease;
}
ul.equipments-search-results li:hover{
  background: #5add2f;
}

/* livechat styles */
#chatInput{
  width: 95%;
  left: 20%;
  padding: 27px;
  top: 10px;
  border-radius: 16px;
  outline:0px;
}
.btn-send{
  right: 10%;
  padding:5px;
  top: 10%;
  border-radius: 20px;
  background-color: lightgreen;
  }
.input-wrapper {
  position: sticky;
  bottom: 10px;
  margin: auto;
  z-index: 10;
}

  .receiver ul.messages{
    z-index: -1;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 75vh;
    overflow-y: auto;
    background-color: #5add2f;
    margin: 0px 10px;
  }
  .receiver ul.messages .message{
    max-width: 60%;
    height: auto;
    padding: 10px;
    margin-top: 8px;
  }
  .message:last-child{
    margin-bottom: 8px;
  }
  .message-sender{
float: left;
background-color: grey;
border-top-right-radius: 20px;
border-top-left-radius: 2px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 3px;
  }
  .message-receiver{
float: right;
border-top-right-radius: 2px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-color: rgb(24, 175, 24);
text-align: right;
  }
  .users{
    list-style-type:none;
    max-height: 75vh;
    max-width: 100vw;
    display: inline-flex;
    overflow-x: scroll;
  }
  .users li{
    padding: 10px;
    border-radius: 4px;
    margin-right: 5px;
  }
  .user{
    margin: 5px 0px;
    cursor: pointer;
    text-align: center;
  }
  .user-active{
    background-color: grey;
  }