/*signup page styles*/
.signupform {
    background-color: chartreuse;
    


}

.signupform .label {
  display: block;

}



.errortab {
  background-color: salmon;

}
.sqlsignuperror {
  color: blue;
}
.signuperror {
  color: red;
}

.signupsuccess {
  color: green;
}



.signupbutton {
  width: 240px;
  height: 30px;
  border-radius: 30px;
  margin: 10px;
}
